{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1> HERE YOU CAN TRADE YOU BITCOINS</h1>
    <div class = 'content section'>
        <form method = 'POST'>
            {% csrf_token %}
            <fieldset class = 'form-group'>
                <legend class = 'border-bottom mb-4'></legend>
                    {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name ="buy">Buy</button>
                <button class="btn btn-outline-info" type="submit" name ="sell">Sell</button>
            </div>
        </form>
    </div>
{% endblock %}